<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.animalhaven.hansportable.myanimalhaven">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddLivingAreaActivity" />
        <activity android:name=".EnterLivingAreaDetails" />
        <activity android:name=".UpdateLivingAreaDetails" />
        <activity android:name=".UpdateLivingAreaActivity" />
        <activity android:name=".ViewAllAreas"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmDeleteActivity"
            android:label="@string/title_activity_confirm_delete"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>